.instructions {
  height: 13vh;
  width: 90%;
  border: solid 1px black;
  margin-left: 5%;
  border: .5px solid rgb(165, 165, 165);
  box-shadow: 3px 2px 2px rgb(43, 43, 43);
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

.instructions p {
  line-height: 7px;
  text-align: center;
  font-size: 20px;
}

.box {
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.box2 {
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}

.box2 p strong {
  display: inline-block;
}

.score {
  text-align: center;
  width: 48%;
  float: left;
  font-size: 35px;
  line-height: 28px;
  padding-top: 13px;
  color: rgb(207, 200, 105);
  -webkit-text-stroke: 1.5px rgb(56, 56, 56);
  text-shadow: .5px 1px .5px rgb(0, 0, 0)
}

.scores {
  margin-top: 5px;
  height: 12.7vh;
  width: 90%;
  border: solid 1px red;
  margin-left: 5%;
  border: .5px solid rgb(165, 165, 165);
  box-shadow: 3px 3px 2px rgb(43, 43, 43);
  border-radius: 5px;
}